* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DegularDisplay-regular;
}

@font-face {
  font-family: DegularDisplay-regular;
  src: url(../font/DegularDisplay/DegularDisplayRegular.otf);
}
@font-face {
  font-family: DegularDisplay-bold;
  src: url(../font/DegularDisplay/DegularDisplayBold.otf);
}
a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

.overflow-hiden {
  overflow: hidden;
}

.container-fluid {
  max-width: 1780px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 90px;
  background: #fff9f2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

nav .navbar {
  height: 100%;
  max-width: 1400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}

.navbar .logo a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

nav .navbar .nav-links {
  line-height: 90px;
  height: 100%;
}

nav .navbar .links {
  display: flex;
}

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: var(--Neutrals-Neutrals700, #5a5555);
  font-size: 16px;
  font-weight: 300;
  position: relative;
}
nav .navbar .links li a::before, nav .navbar .links li a::after {
  transition: all 0.5s;
}
nav .navbar .links li a::after {
  position: absolute;
  bottom: 30%;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--Base-Base-Black, #0a0a0b);
  height: 1px;
}
nav .navbar .links li a:hover {
  color: var(--Base-Base-Black, #0a0a0b);
  font-weight: 600;
}
nav .navbar .links li a:hover::after {
  width: 100%;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 90px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
  position: absolute;
  top: 90px;
  left: 0;
  line-height: 40px;
  background: #3e8da8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}

.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}

.navbar .bx-menu {
  display: none;
}

@media (max-width: 920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }
  nav .navbar .logo a {
    font-size: 27px;
  }
  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  nav {
    /* position: relative; */
  }
  .navbar .bx-menu {
    display: block;
  }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #fff9f2;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #fff;
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: #000;
  }
  nav .navbar .links {
    display: block;
    margin-top: 20px;
    padding-left: 0;
  }
  nav .navbar .links li .arrow {
    line-height: 40px;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }
  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}
@media (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}
.ngau-title {
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(80deg, #57351e 33.59%, #000 94.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: inline;
}
.ngau-title img {
  position: absolute;
  top: 0;
  right: 0;
}

.ngau-sub-title {
  color: var(--Neutrals-Base-Black, #0a0a0b);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ngau-btn {
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  background: url(../img/btn-back.png) lightgray 50%/cover no-repeat;
  color: var(--Neutrals-Base-Black, #0a0a0b);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ngau-btn:hover {
  opacity: 0.8;
}

.ngau-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ngau-title-row .ngau-subtitle-in-row {
  color: var(--Neutrals-Neutrals600, #726c6c);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.homepage #hero {
  background-image: url(../img/Hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 70px;
}
.homepage #hero .limited {
  color: var(--Base-Base-Black, #0a0a0b);
  font-size: 28px;
  font-weight: 300;
}
.homepage #hero .saleoff-header {
  font-size: 96px;
  font-style: normal;
  font-weight: 300;
  line-height: 90px; /* 93.75% */
  background: linear-gradient(80deg, #57351e 3.71%, #000 94.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 46px;
}
.homepage #hero .saleoff-header span {
  font-weight: 500;
  line-height: 90px;
}
.homepage #hero .header-btn {
  display: inline-flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  background: var(--Gradient-2, linear-gradient(80deg, #57351e 3.71%, #000 94.27%));
  color: var(--Neutrals-Base-White, #fafafa);
  font-size: 20px;
  font-weight: 400;
}
.homepage #hero .header-btn:hover {
  opacity: 0.8;
}
.homepage #exclusive_offer {
  padding: 80px 0;
  background: #fff9f2;
}
.homepage #exclusive_offer .col-left {
  position: relative;
}
.homepage #exclusive_offer .col-left .swiper-slide {
  position: relative;
}
.homepage #exclusive_offer .col-left .swiper-slide .product-info {
  position: absolute;
  bottom: 2%;
  left: 4%;
}
.homepage #exclusive_offer .col-left .swiper-slide .product-info .product-name {
  color: var(--Base-Base-White, #fafafa);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.homepage #exclusive_offer .col-left .swiper-slide .product-info .product-price {
  color: var(--Base-Base-White, #fafafa);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.homepage #exclusive_offer .col-left .swiper-slide .sale-percent {
  position: absolute;
  top: 2%;
  left: 4%;
  display: inline-flex;
  padding: 4px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: var(--Gradient-3, linear-gradient(321deg, #8fd3d1 3.41%, #83c0e9 25.4%, #a182bc 47.38%, #e484b6 69.37%, #fac2a1 91.36%));
  color: var(--Backgrounds-Primary, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.homepage #exclusive_offer .col-left .arrow-prev,
.homepage #exclusive_offer .col-left .arrow-next {
  position: absolute;
  z-index: 2;
}
.homepage #exclusive_offer .col-left .arrow-prev:hover,
.homepage #exclusive_offer .col-left .arrow-next:hover {
  cursor: pointer;
  opacity: 0.8;
}
.homepage #exclusive_offer .col-left .arrow-prev {
  left: 0;
  top: 46%;
}
.homepage #exclusive_offer .col-left .arrow-next {
  right: 0;
  top: 46%;
}
.homepage #exclusive_offer .col-right {
  border-left: 2px solid #c6c6c6;
  height: 100%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homepage #exclusive_offer .col-right .ngau-title {
  margin-bottom: 10px;
  line-height: 100px;
}
.homepage #exclusive_offer .col-right .ngau-title img {
  top: 0;
  right: -110%;
}
.homepage #exclusive_offer .col-right .ngau-btn {
  margin-top: auto;
}
.homepage #loose_gemstone {
  padding-top: 20px;
  padding-bottom: 100px;
  background: #fff9f2;
}
.homepage #loose_gemstone .swiper-container {
  height: 380px;
}
.homepage #loose_gemstone .loose_gemstone-slider {
  position: relative;
  overflow: hidden;
  padding-right: 0;
}
.homepage #loose_gemstone .loose_gemstone-slider .loose-gemstone-box {
  position: relative;
}
.homepage #loose_gemstone .loose_gemstone-slider .loose-gemstone-box .product-info {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.homepage #loose_gemstone .loose_gemstone-slider .loose-gemstone-box .product-info .product-info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
.homepage #loose_gemstone .loose_gemstone-slider .loose-gemstone-box .product-info .product-info-row .product-name {
  color: var(--Neutrals-Neutrals800, #433e3f);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.homepage #loose_gemstone .loose_gemstone-slider .loose-gemstone-box .product-info .product-info-price {
  display: flex;
  gap: 10px;
  padding: 0 25px;
}
.homepage #loose_gemstone .loose_gemstone-slider .loose-gemstone-box .product-info .product-info-price .old-price {
  color: var(--Neutrals-Neutrals400, #9f9c9c);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: line-through;
}
.homepage #loose_gemstone .loose_gemstone-slider .loose-gemstone-box .product-info .product-info-price .current-price {
  color: var(--Neutrals-Neutrals900, #2b2829);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.homepage #loose_gemstone .loose_gemstone-slider .arrow-next-lg,
.homepage #loose_gemstone .loose_gemstone-slider .arrow-prev-lg {
  position: absolute;
  z-index: 2;
}
.homepage #loose_gemstone .loose_gemstone-slider .arrow-next-lg {
  right: 0;
  top: 46%;
}
.homepage #loose_gemstone .loose_gemstone-slider .arrow-prev-lg {
  left: 0;
  top: 46%;
}
.homepage #loose_gemstone .ngau-title-row {
  margin-bottom: 46px;
}
.homepage #loose_gemstone .ngau-title-row .ngau-title img {
  right: -10%;
}
.homepage #loose_gemstone .ngau-title-row .ngau-title-row-right {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
}
.homepage #loose_gemstone .ngau-title-row .ngau-title-row-right .ngau-btn {
  width: 40%;
}
.homepage #miidle_banner {
  background-image: url(../img/middle-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homepage #miidle_banner .slogan {
  color: var(--Neutrals-Base-Black, #0a0a0b);
  font-size: 64px;
  font-weight: 500;
}
.homepage #miidle_banner .sub-slogan {
  color: var(--Neutrals-Base-Black, #0a0a0b);
  font-size: 32px;
  font-weight: 400;
}
.homepage #miidle_banner .ngau-btn {
  background: var(--Neutrals-Neutrals900, #2b2829);
  color: #fff;
  padding: 10px 60px;
  margin-top: 30px;
}
.homepage #jewellery_collection {
  padding: 80px 0 0 0;
  background: #fff9f2;
}
.homepage #jewellery_collection .jewellery-left {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.homepage #jewellery_collection .jewellery-left .jewellery-stonehide-1 {
  position: absolute;
  bottom: -26%;
  left: -23%;
  z-index: 1;
}
.homepage #jewellery_collection .jewellery-left .ngau-sub-title {
  margin-bottom: 40px;
  z-index: 2;
}
.homepage #jewellery_collection .jewellery-left .ngau-btn {
  z-index: 2;
}
.homepage #jewellery_collection .jewellery-left .ngau-title {
  line-height: 100px;
  z-index: 2;
}
.homepage #jewellery_collection .jewellery-left .ngau-title img {
  top: -10%;
  right: -6%;
}
.homepage #jewellery_collection .jewellery-slider-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage #jewellery_collection .jewellery-slider-box .jewellery-stonehide-2 {
  position: absolute;
  bottom: -10%;
  left: 0;
}
.homepage #jewellery_collection .jewellery-slider-box .wrapper {
  display: flex;
}
.homepage #jewellery_collection .jewellery-slider-box .demo-wrap {
  position: relative;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap {
  max-width: 100%;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap {
  width: 500px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  /* overflow: hidden; */
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap li {
  display: none;
  width: 300px;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap .inner {
  position: relative;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap .inner .product-info {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap .inner .product-info .product-info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap .inner .product-info .product-info-row .product-name {
  color: var(--Neutrals-Neutrals800, #433e3f);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap .inner .product-info .product-info-price {
  display: flex;
  gap: 10px;
  padding: 0 25px;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap .inner .product-info .product-info-price .old-price {
  color: var(--Neutrals-Neutrals400, #9f9c9c);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: line-through;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap .inner .product-info .product-info-price .current-price {
  color: var(--Neutrals-Neutrals900, #2b2829);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap .inner a {
  text-decoration: none;
  border: none;
  outline: none;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap img {
  width: 100%;
  border: none;
  outline: none;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap .pos1 {
  display: block;
  width: 200px;
  height: 236px;
  top: 0;
  left: 0;
  z-index: 1;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap .pos2 {
  display: block;
  width: 220px;
  height: 286px;
  top: 35px;
  left: 14%;
  z-index: 2;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap .pos3 {
  display: block;
  width: 300px;
  height: 390px;
  top: 15%;
  left: 35%;
  z-index: 3;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap .pos4 {
  display: block;
  width: 220px;
  height: 286px;
  top: 35px;
  right: -14%;
  z-index: 2;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap .pos5 {
  display: block;
  width: 200px;
  height: 236px;
  top: 0;
  right: -25%;
  z-index: 1;
}
.homepage #jewellery_collection .jewellery-slider-box .slide-wrap .inner {
  overflow: hidden;
  position: relative;
}
.homepage #jewellery_collection .jewellery-slider-box .arrow {
  border-radius: 50%;
  color: #454545;
  position: absolute;
  top: 20%;
  z-index: 10;
  cursor: pointer;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-style: normal;
  opacity: 0.7;
}
.homepage #jewellery_collection .jewellery-slider-box .prev {
  left: -1% !important;
}
.homepage #jewellery_collection .jewellery-slider-box .next {
  right: -26% !important;
}
.homepage #expert_craftspeople {
  padding: 80px 0;
  background: #fff9f2;
}
.homepage #expert_craftspeople .expert_craftspeople-content {
  position: relative;
}
.homepage #expert_craftspeople .expert_craftspeople-content .expert-stonehide {
  position: absolute;
  width: 22%;
  left: -7%;
  bottom: -15%;
  z-index: 1;
}
.homepage #expert_craftspeople .expert_craftspeople-content .expert-left {
  padding: 20px 20px 30px 40px;
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  z-index: 2;
}
.homepage #expert_craftspeople .expert_craftspeople-content .ngau-title {
  line-height: 100px;
}
.homepage #expert_craftspeople .expert_craftspeople-content .ngau-title img {
  top: -13%;
  right: 55%;
}
.homepage #expert_craftspeople .expert_craftspeople-content .ngau-sub-title {
  margin: 25px 0 50px 0;
}
.homepage #expert_craftspeople .expert_craftspeople-content .ngau-btn {
  padding: 10px 0;
  width: 45%;
}
.homepage #asian_fengshui_decoration {
  padding: 0 0 5rem 0;
  background: #fff9f2;
}
.homepage #asian_fengshui_decoration .swiper-container {
  height: 380px;
}
.homepage #asian_fengshui_decoration .center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage #asian_fengshui_decoration .center-column .ngau-title img {
  right: auto;
}
.homepage #asian_fengshui_decoration .ngau-btn {
  padding: 10px 0;
  width: 20%;
}
.homepage #asian_fengshui_decoration .ngau-sub-title {
  margin: 20px 0 30px 0;
}
.homepage #asian_fengshui_decoration .asian_fengshui_decoration-slider {
  overflow: hidden;
  margin-top: 40px;
  position: relative;
  padding-right: 0;
}
.homepage #asian_fengshui_decoration .asian_fengshui_decoration-slider .fengshui-box {
  position: relative;
}
.homepage #asian_fengshui_decoration .asian_fengshui_decoration-slider .fengshui-box .product-info {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.homepage #asian_fengshui_decoration .asian_fengshui_decoration-slider .fengshui-box .product-info .product-info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
.homepage #asian_fengshui_decoration .asian_fengshui_decoration-slider .fengshui-box .product-info .product-info-row .product-name {
  color: var(--Neutrals-Neutrals800, #433e3f);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.homepage #asian_fengshui_decoration .asian_fengshui_decoration-slider .fengshui-box .product-info .product-info-price {
  display: flex;
  gap: 10px;
  padding: 0 25px;
}
.homepage #asian_fengshui_decoration .asian_fengshui_decoration-slider .fengshui-box .product-info .product-info-price .old-price {
  color: var(--Neutrals-Neutrals400, #9f9c9c);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: line-through;
}
.homepage #asian_fengshui_decoration .asian_fengshui_decoration-slider .fengshui-box .product-info .product-info-price .current-price {
  color: var(--Neutrals-Neutrals900, #2b2829);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.homepage #asian_fengshui_decoration .asian_fengshui_decoration-slider .arrow-next-afd,
.homepage #asian_fengshui_decoration .asian_fengshui_decoration-slider .arrow-prev-afd {
  position: absolute;
  z-index: 2;
}
.homepage #asian_fengshui_decoration .asian_fengshui_decoration-slider .arrow-next-afd {
  right: 0;
  top: 46%;
}
.homepage #asian_fengshui_decoration .asian_fengshui_decoration-slider .arrow-prev-afd {
  left: 0;
  top: 46%;
}
.homepage #gemstone_stories {
  background: #fff9f2;
  padding-bottom: 80px;
}
.homepage #gemstone_stories .ngau-title img {
  right: auto;
}
.homepage #gemstone_stories .container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage #gemstone_stories .gemstone-stories-box {
  position: relative;
}
.homepage #gemstone_stories .gemstone-stories-box:hover {
  cursor: pointer;
}
.homepage #gemstone_stories .gemstone-stories-box:hover .stories-tip {
  display: flex;
}
.homepage #gemstone_stories .gemstone-stories-box .stories-time {
  position: absolute;
  top: 5%;
  left: 5%;
  border-radius: 10px;
  background: var(--Backgrounds-Primary, #fff);
  display: flex;
  width: 70px;
  height: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -5px;
  flex-shrink: 0;
}
.homepage #gemstone_stories .gemstone-stories-box .stories-tip {
  position: absolute;
  bottom: 5%;
  left: 5%;
  display: none;
  flex-direction: column;
  gap: 5px;
}
.homepage #gemstone_stories .gemstone-stories-box .stories-tip .stories-tip-text {
  color: var(--Neutrals-Base-White, #fafafa);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.homepage #gemstone_stories .gemstone-stories-box .stories-tip .stories-tip-title {
  color: var(--Neutrals-Base-White, #fafafa);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.homepage #gemstone_stories .gemstone-stories-box .stories-tip .stories-readmore {
  text-decoration: underline;
  color: var(--Neutrals-Base-White, #fafafa);
  font-size: 20px;
}
.homepage #gemstone_stories .ngau-btn {
  margin-top: 60px;
}
.homepage #service {
  background: #fff9f2;
}
.homepage #service .container-fluid {
  border-top: 1px solid;
  padding-top: 40px;
  padding-bottom: 40px;
}
.homepage #service .serive-box .service-title {
  color: var(--Neutrals-Neutrals1000, #151314);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 20px;
}
.homepage #service .serive-box .serivce-des {
  color: var(--Neutrals-Neutrals700, #5a5555);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.homepage #testimoninals {
  background: #fff9f2;
  padding: 80px 0;
}
.homepage #testimoninals .testimoninals-box {
  border-radius: 20px;
  border: 2px solid #d6d6d6;
  padding: 30px 80px 60px 80px;
  position: relative;
  overflow: hidden;
}
.homepage #testimoninals .testimoninals-box .ngau-title {
  color: #000;
  -webkit-text-fill-color: #000;
  display: block;
}
.homepage #testimoninals .testimoninals-box .swiper-container {
  height: auto;
}
.homepage #testimoninals .testimoninals-box .swiper-pagination {
  padding-bottom: 10px;
}
.homepage #testimoninals .testimoninals-box .ngau-sub-title {
  margin-bottom: 40px;
}
.homepage #testimoninals .testimoninals-box .testimoninals_slide .fb-beauty-top,
.homepage #testimoninals .testimoninals-box .testimoninals_slide .fb-beauty-bottom {
  position: absolute;
}
.homepage #testimoninals .testimoninals-box .testimoninals_slide .fb-beauty-top {
  top: -20px;
  left: 0;
}
.homepage #testimoninals .testimoninals-box .testimoninals_slide .fb-beauty-bottom {
  right: 0;
  bottom: -10px;
}
.homepage #testimoninals .testimoninals-box .testimoninals_slide .arrow-prev-fb,
.homepage #testimoninals .testimoninals-box .testimoninals_slide .arrow-next-fb {
  position: absolute;
  z-index: 2;
  flex-shrink: 0;
  color: #9f9c9c;
  font-size: 30px;
}
.homepage #testimoninals .testimoninals-box .testimoninals_slide .arrow-prev-fb {
  top: 64%;
  left: 2%;
}
.homepage #testimoninals .testimoninals-box .testimoninals_slide .arrow-next-fb {
  top: 64%;
  right: 2%;
}
.homepage #testimoninals .testimoninals-box .testimoninals_slide .testimoninals-each {
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #d9d9d9;
  background: #fff9f2;
  padding: 36px 25px;
}
.homepage #testimoninals .testimoninals-box .testimoninals_slide .testimoninals-each .testimoninals-detail {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 20px;
}
.homepage #testimoninals .testimoninals-box .testimoninals_slide .testimoninals-each .testimoninals-detail .name {
  color: var(--Neutrals-Neutrals900, #2b2829);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 75% */
}
.homepage #testimoninals .testimoninals-box .testimoninals_slide .testimoninals-each .testimonials-content {
  color: var(--Neutrals-Neutrals400, #9f9c9c);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.homepage footer {
  background: url(../img/footer-background.png) lightgray 50%/cover no-repeat;
  padding: 50px 0;
}
.homepage footer ul {
  padding: 0;
  margin: 0;
}
.homepage footer .footer-logo {
  margin-bottom: 24px;
}
.homepage footer .footer-col-title {
  color: #1d1d1d;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 135% */
  margin-bottom: 10px;
}
.homepage footer .footer-col-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.homepage footer .footer-col-list .book {
  text-decoration: underline;
  color: #1d1d1d;
  margin-top: 20px;
}
.homepage footer .footer-col-list li a {
  color: #1d1d1d;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 150% */
}
.homepage footer .footer-col-list li a:hover {
  opacity: 0.8;
}
.homepage footer .footer-col-list li input {
  border-radius: 5px;
  border: 1px solid var(--Neutrals-Neutrals800, #433e3f);
  color: #1d1d1d;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  background: transparent;
  padding: 10px;
  width: 100%;
  line-height: 23.4px; /* 130% */
  margin-top: 20px;
}
.homepage footer .list-social {
  display: flex;
  align-items: center;
  gap: 8px;
}
.homepage footer .list-social a:hover {
  opacity: 0.8;
}
.homepage footer .copyright {
  color: #1d1d1d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.2px; /* 185% */
  margin-top: 50px;
}

.swiper-scrollbar-drag {
  background: var(--Gradient-3, linear-gradient(265deg, #c9fffd -1.27%, #c0e6ff 55.44%, #e484b6 112.15%)) !important;
}

.swiper-slide {
  -webkit-user-select: text !important; /* Safari */
  -moz-user-select: text !important; /* Firefox */
  -ms-user-select: text !important; /* Internet Explorer/Edge */
  user-select: text !important; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.swiper-slide * {
  user-select: text !important;
}

@media screen and (min-width: 1600px) {
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap {
    width: 700px;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap .pos1 {
    left: 5%;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap .pos2 {
    left: 18%;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap .pos4 {
    right: 4%;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap .pos5 {
    right: -10%;
  }
  .homepage #jewellery_collection .jewellery-slider-box .prev {
    left: 5% !important;
  }
  .homepage #jewellery_collection .jewellery-slider-box .next {
    right: -10% !important;
  }
  .homepage #asian_fengshui_decoration .swiper-container,
  .homepage #loose_gemstone .swiper-container {
    height: 470px;
  }
  .homepage #expert_craftspeople .expert_craftspeople-content .ngau-title img {
    right: 60%;
  }
}
@media screen and (max-width: 1600px) {
  .container-fluid {
    max-width: 1460px;
  }
  .homepage #asian_fengshui_decoration .swiper-container,
  .homepage #loose_gemstone .swiper-container {
    height: 390px;
  }
}
@media screen and (max-width: 1400px) {
  body {
    padding-top: 90px;
  }
  .homepage #hero {
    height: auto;
    padding: 80px;
  }
  .homepage #exclusive_offer .col-right .ngau-title {
    margin-bottom: 0;
  }
  .ngau-title {
    font-size: 46px;
  }
  .homepage #exclusive_offer {
    padding: 50px 0;
  }
  .ngau-title-row {
    align-items: flex-start;
  }
  .homepage #loose_gemstone {
    padding-bottom: 50px;
  }
  .homepage #miidle_banner {
    padding: 100px 0;
    height: auto;
  }
  .homepage #expert_craftspeople {
    padding: 50px 0;
  }
  .homepage #asian_fengshui_decoration .ngau-sub-title {
    margin: 10px 0 20px 0;
  }
  .homepage #asian_fengshui_decoration .swiper-container,
  .homepage #loose_gemstone .swiper-container {
    height: 370px;
  }
  .homepage #gemstone_stories .gemstone-stories-box .stories-tip .stories-tip-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .homepage #gemstone_stories .ngau-btn {
    margin-top: 40px;
  }
  .homepage #gemstone_stories {
    padding-bottom: 50px;
  }
  .homepage #service .container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .homepage #expert_craftspeople .expert_craftspeople-content .ngau-title .seperate {
    display: none;
  }
  .homepage #jewellery_collection .jewellery-left .ngau-title {
    line-height: normal;
  }
  .homepage #jewellery_collection .jewellery-left .ngau-title .seperate {
    display: none;
  }
  .homepage #testimoninals {
    padding: 0 0 50px 0;
  }
  .homepage #loose_gemstone .ngau-title-row .ngau-title img {
    top: -40%;
    right: -20%;
  }
  .homepage #jewellery_collection .jewellery-left .ngau-title img,
  .homepage #expert_craftspeople .expert_craftspeople-content .ngau-title img {
    right: auto;
  }
  .homepage #asian_fengshui_decoration .center-column .ngau-title img,
  .homepage #gemstone_stories .ngau-title img {
    top: -40%;
  }
  .homepage #jewellery_collection .jewellery-slider-box {
    justify-content: normal;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap {
    width: 400px;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap .pos4 {
    right: -30%;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap .pos5 {
    right: -46%;
  }
  .homepage #jewellery_collection .jewellery-slider-box .prev {
    left: 0 !important;
  }
  .homepage #jewellery_collection .jewellery-slider-box .next {
    right: -46% !important;
  }
  .homepage #exclusive_offer .col-right .ngau-title img {
    top: -52%;
    right: -24%;
  }
}
@media screen and (max-width: 1200px) {
  .homepage #expert_craftspeople .expert_craftspeople-content .ngau-btn {
    width: 50%;
  }
  .homepage #loose_gemstone .ngau-title-row .ngau-title-row-right {
    width: 60%;
  }
  .homepage #jewellery_collection .jewellery-left .ngau-sub-title {
    margin-bottom: 20px;
  }
  .homepage #expert_craftspeople .expert_craftspeople-content .ngau-sub-title {
    margin: 0 0 10px 0;
  }
  .ngau-title img {
    display: none;
  }
  .homepage #jewellery_collection .jewellery-left {
    width: 100%;
  }
  .homepage #jewellery_collection .jewellery-slider-box {
    justify-content: center;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap {
    width: 700px;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap .pos4 {
    right: 0%;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap .pos5 {
    right: -13%;
  }
  .homepage #jewellery_collection .jewellery-slider-box .prev {
    left: 0 !important;
  }
  .homepage #jewellery_collection .jewellery-slider-box .next {
    right: -13% !important;
  }
  .homepage #asian_fengshui_decoration .swiper-container,
  .homepage #loose_gemstone .swiper-container {
    height: 410px;
  }
}
@media screen and (max-width: 990px) {
  .homepage #hero .saleoff-header {
    line-height: normal;
    font-size: 60px;
  }
  .homepage #hero {
    padding: 50px 30px;
  }
  .homepage #hero .saleoff-header {
    margin-bottom: 20px;
  }
  .homepage #exclusive_offer .col-right {
    border: none;
    padding-left: 0;
  }
  #exclusive_offer .ngau-sub-title {
    margin-bottom: 10px;
  }
  .homepage #loose_gemstone .ngau-title-row {
    flex-wrap: wrap;
  }
  .homepage #loose_gemstone .ngau-title-row .ngau-title-row-right {
    width: 100%;
    align-items: flex-start;
  }
  .homepage #loose_gemstone {
    padding-top: 0;
  }
  .homepage #miidle_banner {
    padding: 80px 0;
  }
  .homepage #miidle_banner .slogan {
    font-size: 40px;
    line-height: normal;
  }
  .homepage #miidle_banner .sub-slogan {
    font-size: 26px;
  }
  .homepage #miidle_banner .ngau-btn {
    margin-top: 10px;
  }
  .homepage #expert_craftspeople .expert_craftspeople-content {
    padding-left: 0;
  }
  .homepage #expert_craftspeople .expert_craftspeople-content .expert-left {
    min-height: 350px;
    justify-content: start;
    padding: 20px 40px;
  }
  .homepage #expert_craftspeople .expert_craftspeople-content .expert-left .ngau-btn {
    margin-top: auto;
  }
  .homepage #asian_fengshui_decoration .swiper-container,
  .homepage #loose_gemstone .swiper-container {
    height: 460px;
  }
  .homepage #expert_craftspeople .expert_craftspeople-content .ngau-sub-title {
    margin: 10px 0;
  }
  .homepage #asian_fengshui_decoration .ngau-btn {
    width: 30%;
  }
  .homepage #asian_fengshui_decoration {
    padding-bottom: 50px;
  }
  .homepage #testimoninals .testimoninals-box {
    padding: 0;
    border: none;
  }
  .homepage #testimoninals .testimoninals-box .testimoninals_slide .arrow-next-fb {
    right: -4%;
  }
  .homepage #testimoninals .testimoninals-box .testimoninals_slide .arrow-prev-fb {
    left: -4%;
  }
  .homepage #testimoninals .testimoninals-box .testimoninals_slide .testimoninals-each {
    padding: 36px 25px 50px 25px;
  }
  .homepage #expert_craftspeople .expert_craftspeople-content .expert-stonehide {
    width: 30%;
    top: 28%;
    left: -13%;
  }
}
@media screen and (max-width: 767px) {
  .homepage #hero .saleoff-header {
    font-size: 40px;
    margin-bottom: 0;
  }
  .seperate {
    display: none;
  }
  .ngau-title {
    font-size: 30px;
  }
  .ngau-sub-title {
    font-size: 20px;
  }
  .ngau-title-row .ngau-subtitle-in-row {
    font-size: 24px;
  }
  .homepage #loose_gemstone .ngau-title-row .ngau-title-row-right {
    gap: 10px;
  }
  .homepage #miidle_banner .slogan {
    font-size: 30px;
  }
  .homepage #asian_fengshui_decoration .ngau-sub-title {
    margin: 10px 0;
  }
  .homepage #expert_craftspeople .expert_craftspeople-content .expert-left {
    padding: 0 30px 30px 30px;
    min-height: auto;
  }
}
@media screen and (max-width: 600px) {
  .homepage #testimoninals .testimoninals-box .testimoninals_slide .arrow-next-fb {
    right: 0;
  }
  .homepage #testimoninals .testimoninals-box .testimoninals_slide .arrow-prev-fb {
    left: 0;
  }
  .homepage #asian_fengshui_decoration .ngau-btn {
    width: 50%;
  }
  .homepage #loose_gemstone .ngau-title-row .ngau-title-row-right .ngau-btn {
    width: 50%;
  }
  .homepage #miidle_banner {
    padding: 50px 20px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
