* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DegularDisplay-regular;
}

@font-face {
  font-family: DegularDisplay-regular;
  src: url(../font/DegularDisplay/DegularDisplayRegular.otf);
}
@font-face {
  font-family: DegularDisplay-bold;
  src: url(../font/DegularDisplay/DegularDisplayBold.otf);
}
@font-face {
  font-family: DegularDisplay-semibold;
  src: url(../font/DegularDisplay/DegularDisplay-Semibold.otf);
}

a {
  text-decoration: none;
}
ul li {
  list-style: none;
}

img {
  max-width: 100%;
}
.overflow-hiden {
  overflow: hidden;
}

.container-fluid {
  // padding-left: 70px;
  // padding-right: 70px;
  max-width: 1780px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 22px 0;
  // height: 100%;
  // height: 200px;
  background: #fff9f2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
  .logo-top {
    margin-bottom: 30px;
  }
  ol,
  ul {
    padding: 0;
    margin: 0;
  }
}

nav .navbar {
  // height: 100%;
  // max-width: 1400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding-top: 0;
  padding-bottom: 0;
  .search-box {
    position: relative;
    width: 250px;
    i {
      position: absolute;
      top: 24%;
      left: 7%;
      font-size: 18px;
      opacity: 0.9;
    }
    input {
      padding: 6px 0;
      border-radius: 29px;
      border: 1px solid #000;
      color: #000;
      font-size: 16px;
      font-style: normal;
      line-height: normal;
      padding-left: 40px;
      width: 100%;
      &::placeholder {
        color: #000;
      }
    }
  }
}
.navbar .logo .hide-on-desktop {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.navbar .logo .hide-on-mobile {
  display: none;
}

nav .navbar .nav-links {
  // line-height: 90px;
  height: 100%;
}
nav .navbar .links {
  display: flex;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: var(--Neutrals-Neutrals700, #5a5555);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  &::before,
  &::after {
    transition: all 0.5s;
  }
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: var(--Base-Base-Black, #0a0a0b);

    height: 1px;
  }
  &:hover {
    color: var(--Base-Base-Black, #0a0a0b);
    font-weight: 600;
  }
  &:hover::after {
    width: 100%;
  }
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 90px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 90px;
  left: 0;
  line-height: 40px;
  background: #3e8da8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}
.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}
.navbar .bx-menu {
  display: none;
}
@media (max-width: 920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a {
    font-size: 27px;
  }
  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 15px;
  }
}
@media (max-width: 1300px) {
  .logo-top {
    display: none;
  }
  .navbar .logo .hide-on-desktop {
    display: none;
  }
  .navbar .logo .hide-on-mobile {
    display: block;
  }
  nav .navbar .search-box {
    width: auto;
  }
  nav {
    /* position: relative; */
    padding: 10px 0;
  }
  .navbar .bx-menu {
    display: block;
  }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #fff9f2;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #fff;
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: #000;
  }
  nav .navbar .links {
    display: block;
    margin-top: 20px;
    padding-left: 0;
  }
  nav .navbar .links li .arrow {
    line-height: 40px;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}
@media (max-width: 500px) {
  .navbar .logo .hide-on-mobile {
    display: none;
  }
  body {
    padding-top: 56px !important;
  }
}

@media (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}

// Code section
body {
  padding-top: 210px;
}
.ngau-title {
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(80deg, #57351e 33.59%, #000 94.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: inline;
  font-family: DegularDisplay-semibold;
  img {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.ngau-sub-title {
  color: var(--Neutrals-Base-Black, #0a0a0b);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ngau-btn {
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  background: url(../img/btn-back.png) lightgray 50% / cover no-repeat;
  color: var(--Neutrals-Base-Black, #0a0a0b);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &:hover {
    opacity: 0.8;
  }
}
.ngau-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .ngau-subtitle-in-row {
    color: var(--Neutrals-Neutrals600, #726c6c);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.homepage {
  #hero {
    background-image: url(../img/Hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 70px;
    .limited {
      color: var(--Base-Base-Black, #0a0a0b);

      font-size: 28px;
      font-weight: 300;
    }
    .saleoff-header {
      font-size: 96px;
      font-style: normal;
      font-weight: 300;
      line-height: 90px; /* 93.75% */
      background: linear-gradient(80deg, #57351e 3.71%, #000 94.27%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 46px;
      span {
        font-weight: 500;
        line-height: 90px;
      }
    }
    .header-btn {
      display: inline-flex;
      padding: 10px 40px;
      justify-content: center;
      align-items: center;
      gap: 20px;
      border-radius: 5px;
      background: var(
        --Gradient-2,
        linear-gradient(80deg, #57351e 3.71%, #000 94.27%)
      );
      color: var(--Neutrals-Base-White, #fafafa);
      font-size: 20px;
      font-weight: 400;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  #exclusive_offer {
    padding: 80px 0;
    background: #fff9f2;
    .col-left {
      position: relative;
      .swiper-slide {
        position: relative;
        .product-info {
          position: absolute;
          bottom: 2%;
          left: 4%;
          .product-name {
            color: var(--Base-Base-White, #fafafa);
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          .product-price {
            color: var(--Base-Base-White, #fafafa);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .sale-percent {
          position: absolute;
          top: 2%;
          left: 4%;
          display: inline-flex;
          padding: 4px 18px;
          justify-content: center;
          align-items: center;
          border-radius: 2px;
          background: var(
            --Gradient-3,
            linear-gradient(
              321deg,
              #8fd3d1 3.41%,
              #83c0e9 25.4%,
              #a182bc 47.38%,
              #e484b6 69.37%,
              #fac2a1 91.36%
            )
          );
          color: var(--Backgrounds-Primary, #fff);
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .arrow-prev,
      .arrow-next {
        position: absolute;
        z-index: 2;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
      .arrow-prev {
        left: 0;
        top: 46%;
      }
      .arrow-next {
        right: 0;
        top: 46%;
      }
    }
    .col-right {
      border-left: 2px solid #c6c6c6;
      height: 100%;
      padding-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .ngau-title {
        margin-bottom: 10px;
        line-height: 100px;
        img {
          top: 0;
          right: -110%;
        }
      }
      .ngau-btn {
        margin-top: auto;
      }
    }
  }
  #loose_gemstone {
    padding-top: 20px;
    padding-bottom: 100px;
    background: #fff9f2;
    overflow: hidden;
    .swiper-container {
      // height: 380px;
    }
    .loose_gemstone-slider {
      position: relative;
      padding-right: 0;
      .swiper-container {
        // overflow: hidden;
      }
      .swiper-scrollbar {
        bottom: -8%;
      }

      .loose-gemstone-box {
        position: relative;
        .product-info {
          position: absolute;
          bottom: 2%;
          left: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          .product-info-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 25px;
            .product-name {
              color: var(--Neutrals-Neutrals800, #433e3f);
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              font-family: DegularDisplay-semibold;
            }
          }
          .product-info-price {
            display: flex;
            gap: 10px;
            padding: 0 25px;
            .old-price {
              color: var(--Neutrals-Neutrals400, #9f9c9c);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-decoration: line-through;
            }
            .current-price {
              color: var(--Neutrals-Neutrals900, #2b2829);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
      .arrow-next-lg,
      .arrow-prev-lg {
        position: absolute;
        z-index: 2;
      }
      .arrow-next-lg {
        right: 0;
        top: 46%;
      }
      .arrow-prev-lg {
        left: 0;
        top: 46%;
      }
    }
    .ngau-title-row {
      margin-bottom: 46px;
      .ngau-title {
        img {
          right: -10%;
        }
      }
      .ngau-title-row-right {
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 18px;
        .ngau-btn {
          width: 40%;
        }
      }
    }
  }
  #miidle_banner {
    background-image: url(../img/middle-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .slogan {
      color: var(--Neutrals-Base-Black, #0a0a0b);
      font-size: 64px;
      font-weight: 500;
    }
    .sub-slogan {
      color: var(--Neutrals-Base-Black, #0a0a0b);
      font-size: 32px;
      font-weight: 400;
    }
    .ngau-btn {
      background: var(--Neutrals-Neutrals900, #2b2829);
      color: #fff;
      padding: 10px 60px;
      margin-top: 30px;
    }
  }
  #jewellery_collection {
    padding: 80px 0 0 0;
    background: #fff9f2;
    .jewellery-left {
      position: relative;
      z-index: 2;
      .jewellery-stonehide-1 {
        position: absolute;
        bottom: -26%;
        left: -23%;
        z-index: 1;
      }
      .ngau-sub-title {
        margin-bottom: 40px;
        z-index: 2;
      }
      .ngau-btn {
        z-index: 2;
      }
      .ngau-title {
        line-height: 100px;
        z-index: 2;
        img {
          top: -10%;
          right: -6%;
        }
      }
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }

    .jewellery-slider-box {
      position: relative;
      display: flex;
      // justify-content: center;
      align-items: center;
      .jewellery-stonehide-2 {
        position: absolute;
        bottom: 10%;
        left: 0;
      }
      .wrapper {
        display: flex;
      }

      .demo-wrap {
        position: relative;
      }

      .slide-wrap {
        max-width: 100%;
      }

      .slide-wrap {
        width: 500px;
        height: 450px;
        margin: 0 auto;
        position: relative;
        /* overflow: hidden; */
      }

      .slide-wrap li {
        display: none;
        width: 300px;
        position: absolute;
        z-index: 0;
        overflow: hidden;
      }

      .slide-wrap .inner {
        position: relative;
        .product-info {
          position: absolute;
          bottom: 5%;
          left: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          .product-info-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 25px;
            .product-name {
              color: var(--Neutrals-Neutrals800, #433e3f);
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }
          .product-info-price {
            display: flex;
            gap: 10px;
            padding: 0 25px;
            .old-price {
              color: var(--Neutrals-Neutrals400, #9f9c9c);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-decoration: line-through;
            }
            .current-price {
              color: var(--Neutrals-Neutrals900, #2b2829);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }

      .slide-wrap .inner a {
        text-decoration: none;
        border: none;
        outline: none;
      }

      .slide-wrap img {
        width: 100%;
        border: none;
        outline: none;
      }

      .slide-wrap .pos1 {
        display: block;
        width: 200px;
        height: 236px;
        top: 0;
        left: 0;
        z-index: 1;
      }

      .slide-wrap .pos2 {
        display: block;
        width: 220px;
        height: 286px;
        top: 35px;
        left: 14%;
        z-index: 2;
      }

      .slide-wrap .pos3 {
        display: block;
        width: 300px;
        height: 390px;
        top: 15%;
        left: 35%;
        z-index: 3;
      }

      .slide-wrap .pos4 {
        display: block;
        width: 220px;
        height: 286px;
        top: 35px;
        right: -14%;
        z-index: 2;
      }

      .slide-wrap .pos5 {
        display: block;
        width: 200px;
        height: 236px;
        top: 0;
        right: -25%;
        z-index: 1;
      }

      .slide-wrap .inner {
        overflow: hidden;
        position: relative;
      }

      .arrow {
        border-radius: 50%;
        color: #454545;
        position: absolute;
        top: 20%;
        z-index: 10;
        cursor: pointer;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        font-style: normal;
        opacity: 0.9;
      }

      .prev {
        left: -1% !important;
      }

      .next {
        right: -26% !important;
      }
    }
  }
  #expert_craftspeople {
    padding: 80px 0;
    background: #fff9f2;
    .expert_craftspeople-content {
      position: relative;
      .expert-stonehide {
        position: absolute;
        width: 22%;
        left: -7%;
        bottom: -15%;
        z-index: 1;
      }
      .expert-left {
        padding: 20px 20px 30px 40px;
        background: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        position: relative;
        z-index: 2;
      }
      .ngau-title {
        line-height: 100px;
        img {
          top: -13%;
          right: 55%;
        }
      }
      .ngau-sub-title {
        margin: 25px 0 50px 0;
      }
      .ngau-btn {
        padding: 10px 0;
        width: 45%;
      }
    }
  }
  #asian_fengshui_decoration {
    padding: 0 0 5rem 0;
    background: #fff9f2;
    overflow: hidden;
    .center-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      .ngau-title img {
        right: auto;
      }
    }
    .ngau-btn {
      padding: 10px 0;
      width: 20%;
    }
    .ngau-sub-title {
      margin: 20px 0 30px 0;
    }
    .asian_fengshui_decoration-slider {
      margin-top: 40px;
      position: relative;
      padding-right: 0;
      .swiper-container {
        // overflow: hidden;
      }
      .swiper-wrapper {
      }
      .swiper-scrollbar {
        bottom: -8%;
      }
      .fengshui-box {
        position: relative;
        .product-info {
          position: absolute;
          bottom: 2%;
          left: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          .product-info-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 25px;
            .product-name {
              color: var(--Neutrals-Neutrals800, #433e3f);
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              font-family: DegularDisplay-semibold;

              line-height: normal;
            }
          }
          .product-info-price {
            display: flex;
            gap: 10px;
            padding: 0 25px;
            .old-price {
              color: var(--Neutrals-Neutrals400, #9f9c9c);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-decoration: line-through;
            }
            .current-price {
              color: var(--Neutrals-Neutrals900, #2b2829);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
      .arrow-next-afd,
      .arrow-prev-afd {
        position: absolute;
        z-index: 2;
      }
      .arrow-next-afd {
        right: 0;
        top: 46%;
      }
      .arrow-prev-afd {
        left: 0;
        top: 46%;
      }
    }
  }
  #gemstone_stories {
    background: #fff9f2;
    padding-bottom: 80px;
    .ngau-title {
      img {
        right: auto;
      }
    }
    .container-fluid {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .gemstone-stories-box {
      position: relative;
      &:hover {
        cursor: pointer;
        .stories-tip {
          display: flex;
        }
      }

      .stories-time {
        position: absolute;
        top: 5%;
        left: 5%;
        border-radius: 10px;
        background: var(--Backgrounds-Primary, #fff);
        display: flex;
        width: 70px;
        height: 70px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: -5px;
        flex-shrink: 0;
      }
      .stories-tip {
        position: absolute;
        bottom: 5%;
        left: 5%;
        display: none;
        flex-direction: column;
        gap: 5px;
        .stories-tip-text {
          color: var(--Neutrals-Base-White, #fafafa);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .stories-tip-title {
          color: var(--Neutrals-Base-White, #fafafa);
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .stories-readmore {
          text-decoration: underline;
          color: var(--Neutrals-Base-White, #fafafa);
          font-size: 20px;
        }
      }
    }
    .ngau-btn {
      margin-top: 60px;
    }
  }
  #service {
    background: #fff9f2;
    .container-fluid {
      border-top: 1px solid;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .serive-box {
      .service-title {
        color: var(--Neutrals-Neutrals1000, #151314);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        margin-top: 20px;
      }
      .serivce-des {
        color: var(--Neutrals-Neutrals700, #5a5555);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  #testimoninals {
    background: #fff9f2;
    padding: 80px 0;
    .slider {
      width: 100%;
      margin: 50px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      max-width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }

    .slick-slide {
      transition: all ease-in-out 0.3s;
    }

    .slick-active {
    }

    .slick-current {
    }
    .testimoninals-box {
      border-radius: 20px;
      border: 2px solid #d6d6d6;
      padding: 30px 80px 30px 80px;
      position: relative;
      .hidden-slider {
        overflow: hidden;
        padding-bottom: 30px;
      }
      .custom-prev {
        position: absolute;
        left: 2%;
        bottom: 30%;
      }
      .custom-next {
        position: absolute;
        right: 2%;
        bottom: 30%;
      }
      .ngau-title {
        color: #000;
        -webkit-text-fill-color: #000;
        display: block;
      }
      .ngau-sub-title {
        margin-bottom: 40px;
      }
      .regular {
        .testimoninals-each {
          position: relative;
          border-radius: 10px;
          border: 2px solid #d9d9d9;
          background: #fff9f2;
          padding: 36px 25px;
        }
        .fb-beauty-bottom,
        .fb-beauty-top {
          position: absolute;
        }
        .fb-beauty-top {
          top: -10%;
          left: 0;
        }
        .fb-beauty-bottom {
          bottom: -10%;
          right: 0;
        }
        .testimoninals-detail {
          display: flex;
          align-items: center;
          gap: 16px;
          .five-star {
            display: flex;
          }
          .info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .name {
              color: var(--Neutrals-Neutrals900, #2b2829);
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: 18px;
            }
          }
        }
        .testimonials-content {
          margin-top: 20px;
          color: var(--Neutrals-Neutrals400, #9f9c9c);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }

  #banner_bottom {
  }
  footer {
    background: url(../img/footer-background.png) lightgray 50% / cover
      no-repeat;
    padding: 50px 0 20px 0;
    ul {
      padding: 0;
      margin: 0;
    }
    .footer-logo img{
      margin-bottom: 40px;
    }
    .footer-col-title {
      color: #1d1d1d;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 27px; /* 135% */
      margin-bottom: 10px;
    }
    .footer-col-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .book {
        text-decoration: underline;
        color: #1d1d1d;
        margin-top: 20px;
      }
      li {
        a {
          color: #1d1d1d;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 27px; /* 150% */
          &:hover {
            opacity: 0.8;
          }
        }
        input {
          border-radius: 5px;
          border: 1px solid var(--Neutrals-Neutrals800, #433e3f);
          color: #1d1d1d;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          background: transparent;
          padding: 10px;
          width: 100%;
          line-height: 23.4px; /* 130% */
          margin-top: 20px;
        }
      }
    }
    .bottom-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .list-social {
      display: flex;
      align-items: center;
      gap: 8px;
      a:hover {
        opacity: 0.8;
      }
    }
    .copyright {
      color: #1d1d1d;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 22.2px; /* 185% */
    }
  }
}

.swiper-scrollbar-drag {
  background: var(
    --Gradient-3,
    linear-gradient(265deg, #c9fffd -1.27%, #c0e6ff 55.44%, #e484b6 112.15%)
  ) !important;
}
.swiper-slide {
  -webkit-user-select: text !important; /* Safari */
  -moz-user-select: text !important; /* Firefox */
  -ms-user-select: text !important; /* Internet Explorer/Edge */
  user-select: text !important; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.swiper-slide * {
  user-select: text !important;
}

// Responsive
@media screen and (min-width: 1600px) {
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap {
    width: 700px;
  }
  .homepage #jewellery_collection .jewellery-slider-box {
    justify-content: left;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap {
    .pos1 {
      left: 5%;
    }
    .pos2 {
      left: 18%;
    }
    .pos3 {
    }
    .pos4 {
      right: 4%;
    }
    .pos5 {
      right: -10%;
    }
  }
  .homepage #jewellery_collection .jewellery-slider-box {
    .prev {
      left: 5% !important;
    }
    .next {
      right: -10% !important;
    }
  }

  .homepage #expert_craftspeople .expert_craftspeople-content .ngau-title img {
    right: 60%;
  }
}
@media screen and (max-width: 1600px) {
  .container-fluid {
    max-width: 1460px;
  }
  body {
    padding-top: 176px;
  }
  nav .logo-top {
    margin-bottom: 10px;
    img {
      max-width: 16%;
    }
  }
}
@media screen and (max-width: 1400px) {
  body {
    padding-top: 70px;
  }
  .homepage #hero {
    height: auto;
    padding: 80px;
  }
  .homepage #exclusive_offer .col-right .ngau-title {
    margin-bottom: 0;
  }
  .ngau-title {
    font-size: 46px;
  }
  .homepage #exclusive_offer {
    padding: 50px 0;
  }
  .ngau-title-row {
    align-items: flex-start;
  }

  .homepage #loose_gemstone {
    padding-bottom: 50px;
  }
  .homepage #miidle_banner {
    padding: 100px 0;
    height: auto;
  }
  .homepage #expert_craftspeople {
    padding: 50px 0;
  }
  .homepage #asian_fengshui_decoration .ngau-sub-title {
    margin: 10px 0 20px 0;
  }

  .homepage
    #gemstone_stories
    .gemstone-stories-box
    .stories-tip
    .stories-tip-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .homepage #gemstone_stories .ngau-btn {
    margin-top: 40px;
  }
  .homepage #gemstone_stories {
    padding-bottom: 50px;
  }
  .homepage #service .container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .homepage #expert_craftspeople .expert_craftspeople-content .ngau-title {
    .seperate {
      display: none;
    }
  }
  .homepage #jewellery_collection .jewellery-left .ngau-title {
    line-height: normal;
    .seperate {
      display: none;
    }
  }
  .homepage #testimoninals {
    padding: 0 0 50px 0;
  }

  .homepage #loose_gemstone .ngau-title-row .ngau-title img {
    top: -40%;
    right: -20%;
  }
  .homepage #jewellery_collection .jewellery-left .ngau-title img,
  .homepage #expert_craftspeople .expert_craftspeople-content .ngau-title img {
    right: auto;
  }

  .homepage #asian_fengshui_decoration .center-column .ngau-title img,
  .homepage #gemstone_stories .ngau-title img {
    top: -40%;
  }

  .homepage #jewellery_collection .jewellery-slider-box {
    justify-content: normal;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap {
    width: 400px;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap {
    .pos1 {
      // left: 5%;
    }
    .pos2 {
      // left: 18%;
    }
    .pos3 {
    }
    .pos4 {
      right: -30%;
    }
    .pos5 {
      right: -46%;
    }
  }
  .homepage #jewellery_collection .jewellery-slider-box {
    .prev {
      left: 0 !important;
    }
    .next {
      right: -46% !important;
    }
  }
  .homepage #exclusive_offer .col-right .ngau-title img {
    top: -52%;
    right: -24%;
  }
}

@media screen and (max-width: 1200px) {
  .homepage #expert_craftspeople .expert_craftspeople-content .ngau-btn {
    width: 50%;
  }
  .homepage #loose_gemstone .ngau-title-row .ngau-title-row-right {
    width: 60%;
  }
  .homepage #jewellery_collection .jewellery-left .ngau-sub-title {
    margin-bottom: 20px;
  }
  .homepage #expert_craftspeople .expert_craftspeople-content .ngau-sub-title {
    margin: 0 0 10px 0;
  }

  .ngau-title img {
    display: none;
  }
  .homepage #jewellery_collection .jewellery-left {
    width: 100%;
  }
  .homepage #jewellery_collection .jewellery-right {
    width: 100%;
  }

  .homepage #jewellery_collection .jewellery-slider-box {
    justify-content: center;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap,
  .homepage #jewellery_collection .jewellery-slider-box .wrapper,
  .homepage #jewellery_collection .jewellery-slider-box .demo-wrap {
    // width: 700px;
    width: 100%;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap {
    .pos1 {
      left: 15%;
    }
    .pos2 {
      left: 24%;
    }
    .pos3 {
    }
    .pos4 {
      right: 26%;
    }
    .pos5 {
      right: 16%;
    }
  }
  .homepage #jewellery_collection .jewellery-slider-box {
    .prev {
      left: 15% !important;
    }
    .next {
      right: 16% !important;
    }
  }
}
@media screen and (max-width: 990px) {
  .homepage #hero .saleoff-header {
    line-height: normal;
    font-size: 60px;
  }
  .homepage #hero {
    padding: 50px 30px;
  }
  .homepage #hero .saleoff-header {
    margin-bottom: 20px;
  }
  .homepage #exclusive_offer .col-right {
    border: none;
    padding-left: 0;
  }
  #exclusive_offer .ngau-sub-title {
    margin-bottom: 10px;
  }
  .homepage #loose_gemstone .ngau-title-row {
    flex-wrap: wrap;
  }
  .homepage #loose_gemstone .ngau-title-row .ngau-title-row-right {
    width: 100%;
    align-items: flex-start;
  }
  .homepage #loose_gemstone {
    padding-top: 0;
  }
  .homepage #miidle_banner {
    padding: 80px 0;
  }
  .homepage #miidle_banner .slogan {
    font-size: 40px;
    line-height: normal;
  }
  .homepage #miidle_banner .sub-slogan {
    font-size: 26px;
  }
  .homepage #miidle_banner .ngau-btn {
    margin-top: 10px;
  }
  .homepage #expert_craftspeople .expert_craftspeople-content {
    padding-left: 0;
    .expert-left {
      min-height: 350px;
      justify-content: start;
      padding: 20px 40px;
      .ngau-btn {
        margin-top: auto;
      }
    }
  }

  .homepage #expert_craftspeople .expert_craftspeople-content .ngau-sub-title {
    margin: 10px 0;
  }
  .homepage #asian_fengshui_decoration .ngau-btn {
    width: 30%;
  }
  .homepage #asian_fengshui_decoration {
    padding-bottom: 50px;
  }
  .homepage #testimoninals .testimoninals-box {
    padding: 0;
    border: none;
  }
  .homepage
    #testimoninals
    .testimoninals-box
    .testimoninals_slide
    .arrow-next-fb {
    right: -4%;
  }
  .homepage
    #testimoninals
    .testimoninals-box
    .testimoninals_slide
    .arrow-prev-fb {
    left: -4%;
  }
  .homepage
    #testimoninals
    .testimoninals-box
    .testimoninals_slide
    .testimoninals-each {
    padding: 36px 25px 50px 25px;
  }
  .homepage
    #expert_craftspeople
    .expert_craftspeople-content
    .expert-stonehide {
    width: 30%;
    top: 28%;
    left: -13%;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap {
    .pos1 {
      left: 10%;
    }
    .pos2 {
      left: 20%;
    }
    .pos3 {
    }
    .pos4 {
      right: 21%;
    }
    .pos5 {
      right: 11%;
    }
  }
  .homepage #jewellery_collection .jewellery-slider-box {
    .prev {
      left: 10% !important;
    }
    .next {
      right: 11% !important;
    }
  }
}
@media screen and (max-width: 900px) {
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap {
    .pos1 {
      left: 5%;
    }
    .pos2 {
      left: 15%;
    }
    .pos3 {
      left: 31%;
    }
    .pos4 {
      right: 16%;
    }
    .pos5 {
      right: 6%;
    }
  }
  .homepage #jewellery_collection .jewellery-slider-box {
    .prev {
      left: 5% !important;
    }
    .next {
      right: 6% !important;
    }
  }
}
@media screen and (max-width: 800px) {
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap {
    .pos1 {
      left: 3%;
    }
    .pos2 {
      left: 13%;
    }
    .pos3 {
      left: 29%;
    }
    .pos4 {
      right: 14%;
    }
    .pos5 {
      right: 4%;
    }
  }
  .homepage #jewellery_collection .jewellery-slider-box {
    .prev {
      left: 3% !important;
    }
    .next {
      right: 4% !important;
    }
  }
}
@media screen and (max-width: 767px) {
  .homepage #hero .saleoff-header {
    font-size: 40px;
    margin-bottom: 0;
  }
  .seperate {
    display: none;
  }
  .ngau-title {
    font-size: 30px;
  }
  .ngau-sub-title {
    font-size: 20px;
  }
  .ngau-title-row .ngau-subtitle-in-row {
    font-size: 24px;
  }
  .homepage #loose_gemstone .ngau-title-row .ngau-title-row-right {
    gap: 10px;
  }
  .homepage #miidle_banner .slogan {
    font-size: 30px;
  }
  .homepage #asian_fengshui_decoration .ngau-sub-title {
    margin: 10px 0;
  }
  .homepage #expert_craftspeople .expert_craftspeople-content .expert-left {
    padding: 0 30px 30px 30px;
    min-height: auto;
  }
}
@media screen and (max-width: 700px) {
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap {
    .pos1 {
      left: 1%;
    }
    .pos2 {
      left: 11%;
    }
    .pos3 {
      left: 25%;
    }
    .pos4 {
      right: 12%;
    }
    .pos5 {
      right: 2%;
    }
  }
  .homepage #jewellery_collection .jewellery-slider-box {
    .prev {
      left: 1% !important;
    }
    .next {
      right: 2% !important;
    }
  }
}
@media screen and (max-width: 600px) {
  .homepage
    #testimoninals
    .testimoninals-box
    .testimoninals_slide
    .arrow-next-fb {
    right: 0;
  }
  .homepage
    #testimoninals
    .testimoninals-box
    .testimoninals_slide
    .arrow-prev-fb {
    left: 0;
  }
  .homepage #asian_fengshui_decoration .ngau-btn {
    width: 50%;
  }
  .homepage #loose_gemstone .ngau-title-row .ngau-title-row-right .ngau-btn {
    width: 50%;
  }
  .homepage #miidle_banner {
    padding: 50px 20px;
    text-align: center;
  }
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap {
    .pos1 {
      left: 1%;
    }
    .pos2 {
      left: 7%;
    }
    .pos3 {
      left: 22%;
    }
    .pos4 {
      right: 8%;
    }
    .pos5 {
      right: 2%;
    }
  }
}
@media screen and (max-width: 500px) {
  .homepage #jewellery_collection .jewellery-slider-box .slide-wrap {
    .pos1 {
      left: 0;
      width: 0;
    }
    .pos2 {
      left: 2%;
      width: 0;
    }
    .pos3 {
      left: 50% !important;
      transform: translate(-50%, -50%);
      top: 50% !important;
      right: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
    .pos4 {
      right: 2%;
      width: 0;
    }
    .pos5 {
      right: 0;
      width: 0;
    }
  }
  .homepage #jewellery_collection .jewellery-slider-box {
    .prev {
      top: 35%;
    }
    .next {
      top: 35%;
    }
  }
}
